.about_banner {
    /* height: 80vh !important; */
    grid-column: 1 / span 12 !important;
  }
  .about_inner h1{
    padding-top: 8rem !important;
  }
  .about_consultants {
    /* height: 90vh !important; */
    grid-column: 1 / span 12 !important;
  }
  .about_mission{
    /* height: 105vh !important; */
    grid-column: 1 / span 12 !important;
  }
  .about_mission>div{
    /* height: 105vh !important; */
    /* grid-column: 1 / span 12 !important; */
    margin-top: 4rem !important;
  }
  .about_vision {
    margin-top: 4rem !important;
    margin-left: 25rem !important;
  }

  /* @media (max-width: 529px) {
  
    .about_banner {
      height: 107vh !important;
    }
    .about_banner h1 {
      font-size: 2.77rem !important;
      padding-top: 5.5rem !important;
    }
    .about_banner img {
      width: 368px !important;
      height: 283px !important;
      padding: 0.009rem;
    }
    .about_consultants {
      height: 145vh !important;
    }
    .about_consultants h1 {
      font-size: 3rem !important;
    }
    .about_mission{
        height: 205vh !important;
        padding-top: 7rem !important;
      }
    .about_blur img {
      width: 14rem !important;
      height: 14rem !important;
      margin-top: 9rem !important;

    }
    .about_vision {
      margin-top: 0rem !important;
      margin-left: 0rem !important;
    }
    .c-img {
      display: none !important;
    }




  } */

 @media (min-width: 700px) AND (max-width: 1300px) {
   
    /* .about_consultants {
      height: 100vh !important;
    } */
   
    .avatar img {
      height: 552px;
      /* width: 639px; */
      padding: 3.5rem;
      margin-left: -2.5rem;
      margin-left: -10rem !important;
    }
  }

 /* @media (min-width: 1500px) AND (max-width: 1899px) {
    .about_banner img {
      width: 598px !important;
      height: 423px !important;
    }
  
    .about_inner {
      padding-top: 1rem !important;
    }

    .avatar img {
      height: 692px !important;
      width: 715px !important;
      margin-top: 3rem !important;
    }
  
    .about-elps2 img {
      margin-left: 17.5rem !important;
      width: 46rem !important;
    }
 
    .about_mission p {
      font-size: 1.2rem !important;
    }
    .about-mission2 p {
      font-size: 1.02rem !important;
    }
    .about-mission2 h6 {
      font-size: 1.5rem !important;
    }
    .about-blur img {
      width: 30rem !important;
      height: 30em !important;
    }
  
  } */

 /* @media (min-width: 1900px) {
    .about_banner img {
      width: 728px !important;
      height: 563px !important;
    }
    .about_consultants {
      height: 80vh !important;
    }
    .about_banner {
      height: 82vh !important;
    }
    .about_inner h1{
      padding-top: 12rem !important;
    }
  
    .avatar img {
      height: 792px !important;
      width: 879px !important;
      margin-top: 3rem !important;
    }
    .about_mission p {
      font-size: 1.6rem !important;
    }
    .about_blur img {
      width: 35rem !important;
      height: 35em !important;
    }
    .about_vision {
      margin-top: 4rem !important;
      margin-left: 45rem !important;
    }
   
  
   
  } */
