@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

/* <div
            className="position-absolute top-0 start-100 translate-middle"
            style={{ height: "" }}
          >
            <img
              src="/assets/Ellipse4.png"
              alt="a & co"
              style={{ marginRight: "8rem", marginTop: "24rem" }}
            />
          </div> */
/* <div
          className="position-absolute top-0 end-50 translate-middle"
          style={{ height: "10rem" }}
        >
          <img
            src="/assets/Ellipse3.png"
            alt="a & co"
            style={{
              marginRight: "0rem",
              marginTop: "-60rem",
              height: "10rem",
              width: "30rem",
            }}
          />
        </div> */

/* default */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif !important;
  background-color: #ffff;
}
a {
  color: initial !important;
  text-decoration: none !important;
}
/* all container size */
.bx-container {
  width: 80%;
  margin: auto !important;
}
.bx-section {
  width: 70%;
  margin: auto !important;
}

/* colors */
.text-color {
  color: #a80d10 !important;
}
.text-color3 {
  color: #ffffffc2 !important;
}
.color {
  background: linear-gradient(to right, #f6f5f5bb 5%, #ffff) !important;
}
.background-bg {
  background-color: #a80d10 !important;
}
.footer-bg {
  background-color: #58595b !important;
}

/* fonts and letter space */
.fs-small {
  font-size: 0.78rem !important;
}
.fs-normal {
  font-size: 0.96rem !important;
}
.fs-medium {
  font-size: 2rem !important;
}
.fs-large {
  font-size: 3rem !important;
}

.fs-xlarge {
  font-size: 30px !important;
}

.fs-xxlarge {
  font-size: 35px !important;
}

.fs-xxxlarge {
  font-size: 50px !important;
}

.letter-space {
  letter-spacing: 10px;
  font-weight: light;
}

/* navigation */
.nav-item {
  text-decoration: none !important;
  width: max-content !important;
}
.nav-fs {
  font-size: 15px !important;
}

/* landing page */
.home-banner-img {
  height: 540px;
  width: 455px;
  padding: 2rem 0rem;
}
.what-we-do {
  color: #ababab !important;
  height: 14rem !important;
  margin: 0 1rem !important;
}
.wht-card:hover {
  color: #000 !important;
  transition: 0.4s ease-in-out !important;
}

/* about us page */
.vision {
  margin-top: 4rem !important;
  margin-left: 25rem !important;
}
/* service page */
.service-banner {
  width: 90%;
  margin: auto !important;
}
.service-section-2 {
  width: 60%;
  margin: auto !important;
}
.service-card {
  background: linear-gradient(#f5f5f5, #e4e4e4) !important;
  border-radius: 15px !important;
  border: none !important;
  height: 28rem !important;
}
.service-card:hover {
  background: linear-gradient(#faf6f6, #f7c5c5) !important;
  box-shadow: 1px 1px 2px 1px #b1b1b1 !important;
  transition: 0.5s ease-in-out !important;
  border: none !important;
}

/* contact us page */
.form-container {
  width: 40%;
  margin: auto !important;
}
label {
  font-size: 13px !important;
  font-weight: 500 !important;
}
input::placeholder {
  font-size: 10px !important;
  color: #9c9a9a !important;
}

/* button */
.btnn {
  height: 3.2rem !important;
  width: 9.25rem !important;
  padding: 0.8rem 1.75rem !important;
  gap: 1rem !important;
  flex-shrink: 0;
  border: none !important;
  border-radius: 0.625rem !important;
  background: #a80d10 !important;
}
.form-btn {
  border: none !important;
  background-color: #a80d10 !important;
  color: #ffff !important;
  padding: 0.6rem 0rem;
  border-radius: 7px !important;
  width: 100% !important;
}

.icons {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

/* responsiveness */
@media (max-width: 700px) {
  .laptop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
}
@media (min-width: 701px) {
  .laptop-view {
    display: block !important;
  }
  .mobile-view {
    display: none !important;
  }
}

/* Mobile: */
@media (max-width: 529px) {
  /* body size */
  .bx-container {
    width: 100%;
    margin: auto !important;
  }
  .bx-section {
    width: 100% !important;
    padding: 1rem !important;
  }
  .bx-section p {
    font-size: 1rem !important;
  }

  /* landing page */
  .home-banner-height {
    height: 120% !important;
  }
  .home-banner-img {
    width: 390px !important;
    height: 400px !important;
    padding: 1rem !important;
    margin: 1.5rem 0rem !important;
  }
  .what-we-do-height {
    height: 50rem !important;
    margin-bottom: 3rem !important;
  }
  .project img {
    width: 22rem !important;
  }

  /* about us page*/
  .banner-about-height {
    height: 150% !important;
  }
  .banner-about-height h1 {
    font-size: 2.5rem !important;
    padding: 25px;
  }
  .business img {
    width: 368px !important;
    height: 283px !important;
  }
  .consultant h1 {
    font-size: 2.8rem !important;
  }
  .about-blur img {
    width: 15rem !important;
    height: 15rem !important;
    /* margin-left: -19rem !important; */
    margin-bottom: 4rem !important;
  }
  .vision {
    margin-top: 0rem !important;
    margin-left: 0rem !important;
  }

  .c-img {
    display: none !important;
    /* nonnnnnnnn */
  }

  /* service */
  .service-card p {
    font-size: 0.9rem !important;
  }
  .service-section-2 {
    width: 90% !important;
  }

  /* contact us page */
  .form-section {
    height: 30vh !important;
  }
  .form-container {
    width: 100% !important;
    margin: auto !important;
  }

  /* footer page */
  .footer {
    padding: 0 auto !important;
  }
  .footer-bg {
    height: 30rem !important;
  }
}

@media (min-width: 530px) AND (max-width: 1300px) {
  /* landing page */
  .what-we-do-height {
    height: 50rem !important;
    margin-bottom: 3rem !important;
  }
  /* footer */
  .footer-bg {
    height: 30rem !important;
  }
}

/* Tablet */
@media (min-width: 768px) AND (max-width: 1300px) {
  .service-section-2 {
    width: 95% !important;
  }
  .bx-section {
    width: 95% !important;
  }
  .footer-bg {
    height: 10rem !important;
  }
  .bx-container {
    width: 100%;
    margin: auto !important;
  }
  .service-banner {
    width: 98%;
    margin: auto !important;
  }
  .service-card{
    height: 31rem !important;
  }
}

/* Larger screens */
@media (min-width: 1500px) {
  /* navbar */
  .navbar-brand img {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }

  /* fonts */
  .nav-fs {
    font-size: 1.4rem !important;
  }
  .fs-large {
    font-size: 4.5rem !important;
  }
  .fs-normal {
    font-size: 1.6rem !important;
  }
  .fs-medium {
    font-size: 3rem !important;
  }
  .text-color3 p {
    font-size: 1.6rem !important;
  }

  /* landing page */
  .home-banner-img {
    margin-left: 3rem !important;
    height: 818px;
    width: 669px;
    padding: 2rem 0rem;
  }
  .what-we-do-height {
    height: 59rem !important;
    margin-bottom: 3rem !important;
  }
  .what-we-do {
    height: 20rem !important;
  }
  .what-we-do h6 {
    font-size: 1.4rem !important;
  }
  .c-img img {
    width: 26.5rem !important;
  }
  .project-link {
    font-size: 1.6rem !important;
  }
  .project img {
    width: 28rem !important;
  }
  .logo img {
    width: 10rem !important;
  }
  .steps p {
    font-size: 1.4rem !important;
  }
  .steps h6 {
    font-size: 1.4rem !important;
  }
  .our-project {
    height: 50rem !important;
    margin-top: 5.5rem !important;
  }

  /* abot us page */
  .business img {
    width: 628px !important;
    height: 463px !important;
  }
  .banner-about-height {
    height: 68vh !important;
  }
  .avatar img {
    height: 692px !important;
    width: 779px !important;
    margin-top: 3rem !important;
  }
  .about-elps img {
    margin-left: -27rem !important;
  }
  .about-elps2 img {
    margin-left: 17.5rem !important;
    width: 46rem !important;
  }
  .about-mission p {
    font-size: 1.5rem !important;
  }
  .about-mission2 p {
    font-size: 1.25rem !important;
  }
  .about-mission2 h6 {
    font-size: 1.55rem !important;
  }
  .about-blur img {
    width: 35rem !important;
    height: 35em !important;
  }

  /* contact */
  #myForm input {
    padding: 0.95rem !important;
  }
  #myForm input::placeholder {
    font-size: 1.1rem !important;
  }
  #myForm label {
    font-size: 1.2rem !important;
  }
  #myForm p {
    font-size: 1.2rem !important;
  }

  /* service */
  .bur-a img {
    width: 29rem !important;
  }
  .bur-c img {
    width: 24rem !important;
    margin-top: -1rem !important;
  }
  .services p {
    font-size: 1.23rem !important;
  }
  .services h5 {
    font-size: 1.55rem !important;
  }
  .service-card {
    height: 38rem !important;
  }
  .services-elps img {
    margin-right: 11rem !important;
  }
  .services-elps2 img {
    margin-left: 11rem !important;
  }

  /* btn */
  .btnn {
    height: 4.5rem !important;
    width: 12rem !important;
    padding: 1rem 1.75rem !important;
    gap: 1rem !important;
    flex-shrink: 0;
    border-radius: 0.625rem !important;
    background: #a80d10 !important;
  }
  .form-btn {
    padding: 1.4rem 0 !important;
  }
}
