.home {
  height: 100vh !important;
}
.home_inner {
  margin-top: 6rem !important;
}
.home img {
  height: 590px;
  width: 475px;
  padding: 2rem 0rem;
}

.what_we_do {
  height: 85vh !important;
  background-color: #a80d10 !important;
}
.card {
  color: #ababab !important;
  height: 15rem !important;
  margin: 0 0.5rem !important;
  background-color: #fff !important;
}
.card:hover {
  color: #000 !important;
  transition: 0.4s ease-in-out !important;
}

.home_our_project {
  height: 65vh !important;
}
.home_kickoff {
  height: 70vh !important;
}
.home_greatbrand {
  height: 50vh !important;
}
.home_dream {
  height: 60vh !important;
}


/* Mobile: */
@media (max-width: 529px) {
  .home {
    height: 162vh !important;
  }
  .home_inner {
    margin-top: 3.5rem !important;
  }
  .home img {
    width: 390px !important;
    height: 415px !important;
    padding: 1rem !important;
    margin: 1.5rem 0rem !important;
  }
  .what_we_do {
    height: 125vh !important;
  }
  .home_our_project {
    height: 147vh !important;
  }
  .home_our_project img {
    width: 22rem !important;
  }
  .home_kickoff {
    height: 197vh !important;
  }
  .home_greatbrand {
    height: 40vh !important;
  }
  .mobile_form {
    height: 110vh !important;
    background-color: #a80d10 !important;
  }
  .mobile_form label {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
  .mobile_form input::placeholder {
    font-size: 10px !important;
    color: #9c9a9a !important;
  }
}

/* tablet */
@media (min-width: 700px) AND (max-width: 1300px) {
  .home {
    height: 90vh !important;
    width: 95% !important;
    margin: auto !important;
  }
  .home img {
    height: 490px;
    width: 455px;
    padding: 0rem 0rem;
    margin-top: 3rem !important;
  }
  .home_inner {
    margin-top: 7rem !important;
  }
  .what_we_do {
    height: 100vh !important;
  }
  .myslide {
    width: 100% !important;
  }
  .card {
    color: #ababab !important;
    height: 20.5rem !important;
    width: 15.6rem !important;
    padding: 1.5rem !important;
    margin: 0 0rem !important;
  }
  .card p {
    font-size: 1.2rem !important;
  }
  .card h6 {
    font-size: 1.2rem !important;
  }
  .home_kickoff {
    height: 60vh !important;
  }
  .projects img {
    width: 22rem !important;
  }
  .c_img img {
    margin-left: -7rem !important;
    margin-top: 12rem !important;
  }
  .home_dream {
    height: 50vh !important;
  }
  .idea_text {
    margin-left: -8rem !important;
  }
  .person_c {
    margin-left: -1.3rem !important;
    margin-top: 0rem;
  }
  .person_c img {
    width: 22rem !important;
  }
  .mobile_form {
    height: 110vh !important;
    background-color: #a80d10 !important;
  }
}

/* large screens */
@media (min-width: 1500px) AND (max-width: 1899px) {
  /* landing page */
  .home img {
    height: 680px;
    width: 569px;
    margin-top: 1rem !important;
    padding: 2rem 0rem;
  }
  .home_inner {
    margin-top: 12rem !important;
  }
  .card {
    height: 21rem !important;
    margin-bottom: 4rem !important;
  }
  .card h6 {
    font-size: 1.4rem !important;
  }
  .c-img img {
    width: 26.5rem !important;
  }
  .project_link {
    font-size: 1.6rem !important;
  }
  .projects img {
    width: 23rem !important;
    margin: 20px !important;
  }
  .home_kickoff p {
    font-size: 1.3rem !important;
  }
  .home_kickoff h6 {
    font-size: 1.4rem !important;
  }

  .idea_text {
    margin-left: -11rem !important;
  }
  .idea_text h1 {
    font-size: 2.9rem !important;
  }
  .person_c {
    margin-left: 5rem !important;
    margin-top: 0.5rem;
  }
  .person_c img {
    width: 25.8rem !important;
  }
}

/* larger screens */
@media (min-width: 1900px) {
  .home img {
    height: 905px;
    width: 749px;
    margin-top: 1rem !important;
    padding: 2rem 0rem;
  }
  .home_inner {
    margin-top: 11rem !important;
  }
  .home_inner h1 {
    margin-top: 4rem !important;
  }

  .what_we_do {
    height: 85vh !important;
    margin-bottom: 4rem !important;
  }
  .card {
    height: 26.5rem !important;
  }
  .what_we_do h6 {
    font-size: 2rem !important;
  }
  .what_we_do p {
    font-size: 1.8rem !important;
  }
  .c_img img {
    width: 32rem !important;
  }
  .project_link {
    font-size: 1.9rem !important;
  }
  .projects img {
    width: 29rem !important;
    margin: 5px !important;
  }
  .home_greatbrand img {
    width: 15rem !important;
  }
  .home_kickoff p {
    font-size: 1.7rem !important;
  }
  .home_kickoff h6 {
    font-size: 1.7rem !important;
  }

  .idea_text {
    margin-left: -13rem !important;
  }
  .idea_text h1 {
    font-size: 3.8rem !important;
  }
  .person_c img {
    margin-left: 52rem !important;
    width: 33rem !important;
  }
}
