/* .navbar_container{
  background-color: #F2CAC4;
  grid-column: 1 / span 12 !important;
} */
  /* .btnn{
    border-radius: 20px;
    padding: 5px 25px;
    color: #fff;
    background-color: #356024 ; 
    border: none;
    font-size: 10px !important;
    margin-top: 0.5rem !important;
   } */

/* .navbar_links a{
  color: #2D6226 !important;
    font-weight: 600;
    display: inline-block !important;
} */
