.service_banner {
    width: 90%;
    margin: auto !important;
    /* height: 55vh !important; */
    grid-column: 1 / span 12 !important;
  }
  .service_banner_inner {
    padding-top: 5rem !important;
  }
  .service_section_2 {
    width: 60%;
    margin: auto !important;
    /* height: 70vh !important; */
    grid-column: 1 / span 12 !important;
  }
  .service_card {
    background: linear-gradient(#f5f5f5, #e4e4e4) !important;
    border-radius: 15px !important;
    border: none !important;
    height: 28rem !important;
  }
  .service_card:hover {
    background: linear-gradient(#faf6f6, #f7c5c5) !important;
    box-shadow: 1px 1px 2px 1px #b1b1b1 !important;
    transition: 0.5s ease-in-out !important;
    border: none !important;
  }
  

  /* @media (max-width: 529px) {
    .service_banner {
      height: 100vh !important;
    }
    .service_banner_mobile {
        margin-top: 5rem !important;
      }
    .service_section_2 {
      height: 185vh !important;
      width: 90% !important;
    }
    .service_card p {
      font-size: 0.9rem !important;
    }
  }

  @media (min-width: 700px) AND (max-width: 1300px) {
    .service_section_2{
      width: 95% !important;
    }
    .service_card {
      height: 37rem !important;
    }
    .service_banner {
      width: 98%;
      margin: auto !important;
    }
    .service_banner_inner {
      padding-top: 6.5rem !important;
    }
    .service_banner h1{
     font-size: 2rem !important;
    }
  }

  @media (min-width: 1500px) AND (max-width: 1899px) {
    .service_banner {
      width: 90%;
      margin: auto !important;
      height: 65vh !important;
    }
    .service_banner_inner {
      padding-top: 11rem !important;
    }
    .service_section_2 {
      height: 70vh !important;
      width: 75% !important;
    }
    .service_section_2 p {
      font-size: 1.1rem !important;
    }
    .service_section_2 h5 {
      font-size: 1.55rem !important;
    }
    .service_card {
      height: 40rem !important;
    }
    .services-elps img {
      margin-right: 11rem !important;
    }
    .services-elps2 img {
      margin-left: 11rem !important;
    }
  }

  @media (min-width: 1900px){
 .bur-a img {
  width: 29rem !important;
}
.bur-c img {
  width: 24rem !important;
  margin-top: -1rem !important;
}
.service_banner{
  width: 90%;
  margin: auto !important;
  height: 55vh !important;
}
.service_banner_inner {
  padding-top: 11rem !important;
}
.service_section_2  {
  width: 70% !important;
}
.service_section_2 p {
  font-size: 1.5rem !important;
}
.service_section_2 h5 {
  font-size: 1.7rem !important;
}
.service_card {
  height: 45rem !important;
}
.services-elps img {
  margin-right: 11rem !important;
}
.services-elps2 img {
  margin-left: 11rem !important;
}
  } */

  @media (min-width: 700px) AND (max-width: 1300px) {
    .service_section_2{
      width: 90% !important;
    }
    .service_card {
      height: 37rem !important;
    }
    .service_banner h1{
      font-size: 2rem !important;
     } 
     .service_banner_inner img {
      margin-left: -3.5rem !important;
    }
    /* .service_banner {
      width: 98%;
      margin: auto !important;
    }
    .service_banner_inner {
      padding-top: 6.5rem !important;
    }
    .service_banner h1{
     font-size: 2rem !important;
    } */
  }
 